# Gateway Port
PORT=3000

# Service Discovery Configuration
USER_SERVICE_URL=http://user-service:3001
PRODUCT_SERVICE_URL=http://product-service:3002
ORDER_SERVICE_URL=http://order-service:3003

# MongoDB Atlas Connection URIs for Microservices
USER_SERVICE_MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/user_db?retryWrites=true&w=majority
PRODUCT_SERVICE_MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/product_db?retryWrites=true&w=majority
ORDER_SERVICE_MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/order_db?retryWrites=true&w=majority
